html {
  font-size: 62.5%;
  background: linear-gradient(
    145deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 50%,
    var(--gradient-1) 100%
  );
  color: var(--text);
}
.app-padding {
  padding: 0 clamp(22px, 5vw, var(--padding-xxhg));
}

.app-container {
  max-width: 160rem;
  margin: 0 auto;
  margin-bottom: 12rem;

  text-align: center;
}
.section {
  margin-bottom: var(--margin-md);
  margin-top: 10rem;

  @include respond(tablet-small) {
    margin-bottom: 0;
  }
}
.section-title {
  width: 100%;

  background: transparent;

  color: var(--text);
  font-size: var(--h2-size);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  font-weight: 600;
  letter-spacing: 1.8px;
  text-align: center;
  line-height: normal;

  span {
    font-size: inherit;
    font-weight: inherit;
  }

  @include respond(phone) {
    font-size: calc(var(--h2-size) - 10px);
    text-align: left;
  }
}

.section-text {
  color: var(--text);
  text-align: justify;
  font-size: clamp(var(--p-size-sm), 3vw, var(--p-size-hg) - 2px);
  font-style: normal;
  font-weight: var(--font-weight);
  line-height: normal;
  margin-top: 2rem;

  & {
    @include respond(tablet-small) {
      text-align: left;
    }
  }
}

.title {
  text-align: left;
  font-size: var(--h2-size);
  color: var(--pr1);
}
