:root {
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-hg: 2.5rem;
  --padding-xhg: 5rem;
  --padding-xxhg: 10rem;

  --gap-sm: 1rem;
  --gap-md: 1.5rem;
  --gap-lg: 2rem;
  --gap-hg: 3rem;
  --gap-xhg: 4rem;

  --margin-sm: 1rem;
  --margin-md: 2rem;
  --margin-lg: 4rem;
  --margin-hg: 6rem;
}
