:root {
  --h1-size: 7rem;
  --h2-size: 4rem;
  --h4-size: 2.8rem;

  --p-size-xhg: 2.6rem;
  --p-size-hg: 2.4rem;
  --p-size-md: 2rem;
  --p-size-sm: 1.8rem;
  --p-size-xsm: 1.6rem;

  --font-button-small: 2.2rem;
}

html {
  font-family: "Poppins", sans-serif;
}
